* {
    margin: 0;
    padding: 0;
    font-family: Bahnschrift SemiBold, Geneva, sans-serif;
    color: #182A35;
    
}

body {
    background-color: #EfEfEf;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sec_header {
    margin-top: 60px;
}

#home {
    height: calc(100vh + 54px);
    position: relative;
    z-index: 3;
    background-color: #979f9e;
}

.home-text {
    font-size: 50px;
    text-align: center;
}

.highlight {
    color: #DF3F3F;
}

.button {
    border: 2px solid #182A35;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
    display: inline-block;
    box-sizing: inherit;
    z-index: 2;
    transition: all 1s;
}

.button:hover {
    transition-property: border-radius, background-color, color;
    border-radius: 50px;
    background-color: #DF3F3F;
    color: #EfEfEf;
    transition-duration: 1s;
    transition-delay: 0s;
}

nav {
    background-color: #2a2840;
    width: 100%;
    height: 50px;
    position: absolute;
    overflow: hidden;
    display: block;
    z-index: 999;
    bottom: 0;
    border-bottom: 4px solid #DF3F3F;
    
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

.links {
    max-width: 1300px;
    width: 100%;
    position: relative;
}

.nav-link {
    display: inline;
    color: #EfEfEf;
    cursor: pointer;
    font-size: 22px;
    margin-left: 30px;
    margin-top: 100px;
    line-height: 37px;
}

.nav-other {
    display: inline;
    color: #EfEfEf;
    cursor: pointer;
    font-size: 22px;
    margin-right: 30px;
    float: right;
}

.fab {
    font-size: 1.5em;
    color: #EfEfEf;
}

.fas {
    font-size: 3.6em;
    color: #EfEfEf;
}

a {
    text-decoration: none;
    color: #EfEfEf;
}
.nav-link:hover, a:hover, .fab:hover {
    color: #DF3F3F;
    transition-property: color;
    transition-duration: 0.5s;
    transition-delay: 0s;
    transition-timing-function: ease;
}

.nav-burger {
    display: none;
}

#mob-links {
    display: none;
    position: absolute;
    width: 90%;
    height: 200px;
}

.burg-link {
    padding: 8px 16px;
    display: block;
}

.burg-other {
    padding: 8px 16px;
    display: block;
}

.hz {
    border-bottom: 2px solid #182A35;
    height: 5px;
    width: 150px;
    margin-bottom: 20px
}

#about {
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.about-row {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.block-row {
    width: 100%;
    flex-direction: row;
}

.block-row2 {
    width: 100%;
    flex-direction: row;
}

.block {
    height: 250px;
    width: 100%;
}

.block-text {
    margin: 10px;
}

.hexagon {
    width: 100px;
    height: 57.735px;
    background: #DF3F3F;
    position: relative;
    display: inline-block;
    margin-top: 40px;
}

.hexagon:before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.9975px solid #DF3F3F;
    rotation: 90deg;
}

.hexagon:after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #DF3F3F;
    rotation: 90deg;
    
}

.block-title {
    margin-top: 40px;
}

.block-text {
    margin-top: 10px;
}

.about-text {
    width: 70%;
}

.bars-container {
    width: 70%;
}

.bar {
    display: flex;
}

.label {
    width: 10%;
    font-size: 20px;
    float: left;
    position: relative;
    flex-direction: row;
}

.skill-bar {
    width: 90%;
    height: 20px;
    background-color: #cccccc;
    margin-bottom: 20px;
    border-radius: 90px;
    float: right;
}

.bar-fill {
    background-color: #DF3F3F;
    height: inherit;
    border-radius: inherit;
}


#projects {
    margin-top: 20px;
    position: relative;
    text-align: center;
}

.projects-wrap {
    flex-direction: row;
    float: left;
    width: 70%;
}


.project-block {
    width: 50%;
    height: 250px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    float: left;
}

.cover-block {
    width: 100%;
    height: inherit;
    display: block;
    position: absolute;
    background-color: #DF3F3F;
    top: 0;
    transition-property: top;
    transition-duration: .3s;
}

.img1 {
    background-image: url(assets/book_journal.jpg);
    background-position: center;
}

.img2 {
    background-image: url(assets/meteor_shower_img.jpg);
    background-position: center;
    background-position-y: -300px;
}

.img3 {
    background-image: url(assets/newsroom-hero-image-password-security.jpg);
    background-position: center;
    
}

.img4 {
    background-image: url(assets/botbot_img.jpg);
    background-position: center;
    background-position-y: -200px;
}

.block-content {
    width: 100%;
    height: inherit;
}

.block-header {
    margin-top: 20px;
}

.project-block:hover .cover-block {
    top: -250px;
}

.spacing {
    height: 50px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 48vw solid transparent;
    border-right: 48vw solid transparent;
    border-top: 50px solid #EfEfEf;
}

#contact {
    margin-top: 20px;
    position: relative;
    text-align: center;
    background-color: #2a2840;
}

.contact-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}

.message {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    color: white;
}

.inputs {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.input-areas {
    text-align: center;
    margin-left: auto;
    margin-right: auto;  
    width: 50%;
}

.inp {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #182A35;
    resize: none;
    font-size: 18px;
    transition: all 0.5s;
}

.inp:focus {
    border: none;
    outline-width: 0;
    border-bottom: 2px solid #DF3F3F;
    transition-property: border-bottom;
    transition-duration: 1s;
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #EfEfEf inset !important;
    -webkit-text-fill-color: #182A35 !important;
}

.send-btn {
    border: 2px solid #182A35;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
    box-sizing: inherit;
    z-index: 2;
    transition: all 0.5s;
    margin-bottom: 40px;
    width: 100px;
    outline: none;
    font-size: 18px;
}

.send-btn:hover {
    transition-property: border-radius;
    border-radius: 10px;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.send-btn:active {
    width: 90px;
    transition-property: width;
    transition-duration: 0.1s;
    transition-delay: 0s;
}

.sh {
    margin-bottom: 20px;
}


footer {
    height: 50px;
    background-color: #DF3F3F;
}


.footer-text {
    width: 100%;
    text-align: center;
    padding-top: 15px;
}



@media only screen and (max-width: 1550px) {
    .skill-bar {
        width: 80%;
        transition: all 1s;
    }
    
    .label {
        width: 20%;
        transition: all 1s;
    }
    
}

@media only screen and (max-width: 1050px) {
    .about-row {
        display: flex;
        flex-direction: column;
        transition: all 1s;
    }
    .project-block {
        width: 100%;
        transition: all 1s;
    }
}

@media only screen and (max-width: 830px) {
    
    .nav-other {
        display: none;
        transition: all 1s;
    }
    
    .nav-link {
        display: none;
        transition: all 1s;
    }
    
    .nav-burger {
        display: block;
        position: relative;
        width: 80px;
        height: 80px;
        text-align: right;
        width: 100%;
        margin-top: 40px;
        transition: all 1s;
    }
    
    .fa-bars {
        display: block;
        font-size: 2.5em;
        display: inline;
        color: #EfEfEf;
        cursor: pointer;
        margin-right: 10px;
        float: right;
    }
    
    .fa-bars:hover {
        color: #DF3F3F;
        transition-property: color;
        transition-duration: 0.5s;
        transition-delay: 0s;
        transition-timing-function: ease;
    }
    
    .skill-bar {
        width: 70%;
        transition: all 1s;
    }
    
    .label {
        width: 30%;
        transition: all 1s;
    }
    
    .about-row, .contact-wrap, about-text {
        width: 90%;
        transition: all 1s;
    }
    
    .bars-container {
        width: 80%;
        transition: all 1s;
    }
    
    .projects-wrap {
        width: 100%;
        transition: all 1s;
    }
    
}

@media only screen and (max-width: 650px) {
    .home-text {
        font-size: 30px;
        text-align: center;
        transition: all 1s;
    }
    
    .block-row2 {
        margin-top: 10px;
        margin-bottom: 40px;
        transition: all 1s;
    }
    
    .nav-other {
        display: none;
        transition: all 1s;
    }
    
    .nav-link {
        display: none;
        transition: all 1s;
    }
    
    
    .skill-bar {
        width: 70%;
        transition: all 1s;
    }
    
    .label {
        width: 30%;
        font-size: 18px;   
        transition: all 1s;
    }
    
    .about-row {
        width: 95%;
        transition: all 1s;
    }
    
    .bars-container {
        width: 90%;
        transition: all 1s;
    }
    
    .about-text {
        width: 95%;
        transition: all 1s;
    }
    
    .contact-wrap {
        width: 100%;
        flex-direction: column;
        transition: all 1s;
    }
    
    .message {
        width: 90%;
        transition: all 1s;
    }
    

    .input-areas {
       width: 80%;
       transition: all 1s;
    }
}



